[MASTER]
init-hook='import pygame; pygame.init()'

[MESSAGES CONTROL]
disable=invalid-name
disable=missing-docstring

[BASIC]
good-names=i,j,k,e,x,y

[SIMILARITIES]
min-similarity-lines=5
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
